@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --fallback-fonts:
      system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      sans-serif;
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 330 6% 7%;
    --secondary: 330 9% 17%;
    --foreground: 330 10% 90%;
    --secondary-foreground: 20 10% 75%;

    --primary: 330, 87%, 69%;
    --primary-foreground: 330, 50%, 18%;
    --primary-dark: 330 13% 7%;

    --status-success: 157, 41%, 30%;
    --status-success-foreground: 157, 80%, 85%;
    --status-warning: 40, 64%, 54%;
    --status-warning-foreground: 45, 50%, 3%;
    --status-orange: 18, 69%, 49%;
    --status-orange-foreground: 18, 50%, 95%;
    --status-error: 348, 69%, 39%;
    --status-error-foreground: 349, 50%, 90%;

    --card: 210 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 210 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --muted: 210 6.5% 15.1%;
    --muted-foreground: 330 33% 85%;
    --accent: 333 16% 21%;
    --accent-foreground: 333 9.1% 80.8%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 210, 20%, 60%;
    --input: 210 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  button,
  input {
    @apply rounded-sm;
  }

  .bg-gradient {
    background: hsl(var(--background))
      radial-gradient(hsl(var(--secondary)), hsl(var(--background)) 87%)
      no-repeat;
  }

  .menu-item:not(:last-child) {
    @apply border-b-accent-foreground border-b;
  }
}
